.container{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 80px;
}
.bg-img{
    background-image: linear-gradient(to right, red , blue);
}
/* .container *{
    padding: 80px;
} */
    .half-circle{
        display: inline-block;
        width: 800px;
        height: 800px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border: 20px solid white;
        border-bottom: 0;   
           
    }
    .speed{
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative; 
        /* border: 1px solid black ;  */
        transform: translateY(-3px);
    }
        .number{
            display: inline-block;
            width: 100%;
            position: absolute;
            color: white;
            font-size: 30px;
            line-height: 60px;              
        }
            #num0{
                right: 150px;
                top: 673px;
            }
            #num1{
                top: 486px;
                right: 300px;
            }
            #num5{
                top: 296px;
                right: 325px;
            }
            #num10{
                top: 103px;
                right: 250px;
            }
            #num20{
                top: 0;
                left: 0;
            }
            #num30{
                top: 103px;
                left: 250px;
            }
            #num50{
                top: 296px;
                left: 325px;
            }
            #num75{
                top: 486px;
                left: 300px;
            }
            #num100{
                top: 673px;
                left: 150px;
            }
            .arrow{
                display: inline-block;
                width: 38%;
                height: 18px;
                background: red;
                border: 1px solid white;
                border-top-left-radius:99%;
                border-bottom-left-radius:99%;
                /* border-top-right-radius:50%; */
                position: absolute;
                top: 50%;
                right: 50%;
                bottom: 0;
                transform-origin: 100%;
                transform: rotate(-65deg);
                transition: all 0.07s;
            }
            .button{
               display: inline-block;
               width: 50%;
               color: white;
               text-transform: uppercase;
               font-size: 30px;
               line-height: 30px;
               padding: 20px, 0;
               position: absolute;
               left:0;
               top:95%;
               background-color: red;
               border: 1px dotted white;
            }
            .button:last-child{
             left:50%;
            }


/*************************/          
/********media***********/
/***********************/
@media (max-width: 910px) {
    .half-circle{
        width: 690px;
        height: 690px;
    }
}
@media (max-width: 800px) {
    .half-circle{
        width: 550px;
        height: 550px;
    }
}
@media (max-width: 650px) {
    .half-circle{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 495px) {
    .half-circle{
        width: 250px;
        height: 250px;
    }
}
