.container{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    
}
.bg-img{
    background-image: linear-gradient(to right, red , blue);
}

    .half-circle{
        display: inline-block;
        width: 250px;
        height: 250px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border: 7px solid white;
        border-bottom: 0;   
           
    }
    .speed{
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
    }
        .number{
            display: inline-block;
            width: 100%;
            position: absolute;
            color: white;
            font-size: 15px;
            line-height: 30px;              
        }
            #num0{
                top: 190px;
                right: 60px;
            }
            #num1{
                top: 146px;
                right: 90px;
            }
            #num5{
                top: 90px;
                right: 100px;
            }
            #num10{
                top: 33px;
                right: 70px;
            }
            #num20{
                top: 0;
                left: 0;
            }
            #num30{
                top: 33px;
                left: 70px;
            }
            #num50{
                top: 90px;
                left: 100px;
            }
            #num75{
                top: 146px;
                left: 90px;
            }
            #num100{
                top: 190px;
                left: 60px;
            }
            .arrow{
                display: inline-block;
                width: 38%;
                height: 18px;
                background: red;
                border: 1px solid white;
                border-top-left-radius:99%;
                border-bottom-left-radius:99%;
                position: absolute;
                top: 45%;
                right: 50%;
                bottom: 0;
                transform-origin: 100%;
                transform: rotate(-53deg);
                transition: transform 1s;
            }
            .button{
               display: inline-block;
               width: 40%;
               color: white;
               text-transform: uppercase;
               font-size: 10px;
               line-height: 10px;
               padding: 10px 0;
               position: absolute;
               left: 10%;
               top:93%;
               background-color: red;
               border: 1px dotted white;
            }
            .button:last-child{
             left:50%;
            }